<nav aria-label="breadcrumb" class="mb-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#"><i class="fa-solid fa-house-chimney"></i></a>
    </li>
    <li class="breadcrumb-item " aria-current="page"><a [routerLink]="['/users/list']">{{"User.usersManagement"|translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{"User.addNewUser"|translate}}</li>
  </ol>
</nav>

<div class="change-password-page">
  <form [formGroup]="editForm">
    <div class="row">

      <div class="col-md-4">
        <div class="input-with-label">
          <label for="oldPassword">{{"shared.oldPassword"|translate}}</label>
          <input type="password" id="oldPassword" [disabled]="true" formControlName="oldPassword" autocomplete="off" placeholder="{{'shared.oldPassword'|translate}}" />
          <app-control-error-display [control]="getControl('oldPassword')">
          </app-control-error-display>
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-with-label">
          <label for="newPassword">{{"shared.newPassword"|translate}}</label>
          <input type="password" id="newPassword" [disabled]="true" formControlName="newPassword" autocomplete="off" placeholder="{{'shared.newPassword'|translate}}" />
          <app-control-error-display [control]="getControl('newPassword')">
          </app-control-error-display>


        </div>
      </div>

      <div class="col-md-4">
        <div class="input-with-label">
          <label for="confirmPassword">{{"shared.confirmPassword"|translate}}</label>
          <input type="password" id="confirmPassword" [disabled]="true" formControlName="confirmPassword" autocomplete="off" placeholder="{{'shared.confirmPassword'|translate}}" />

          <app-control-error-display [control]="getControl('confirmPassword')">
          </app-control-error-display>
        </div>
      </div>

      <div class="col-2 ms-auto d-flex gap-10">
        <button type="" class="light-btn mt-5 " (click)="goToList()"> <span>{{"shared.back"|translate}}</span></button>
        <button [disabled]="isDisabled" type="button" (click)="submit()" class="main-btn mt-5"> <span>{{"shared.save"|translate}}</span></button>
      </div>

    </div>
  </form>
</div>