################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHubPublic/FileContentIndex/e68492cd-190c-47b7-a336-2321c41739b0.vsidx
*.bin
*.vsidx
*.bin
*.v2
/Backend/.vs
/Backend/Framework.Common/obj
/Backend/Framework.Common/bin
/Backend/Framework.Core/obj
/Backend/Framework.Core/bin
/Backend/Framework.DataAccess/bin
/Backend/Framework.DataAccess/obj
/Backend/TemplateService.Business/bin
/Backend/TemplateService.Business/obj
/Backend/TemplateService.Common/bin
/Backend/TemplateService.Common/obj
/Backend/TemplateService.Core/bin
/Backend/TemplateService.Core/obj
/Backend/TemplateService.DataAccess/bin
/Backend/TemplateService.DataAccess/obj
/Backend/TemplateService.DI/bin
/Backend/TemplateService.DI/obj
/Backend/TemplateService.Entity/bin
/Backend/TemplateService.Entity/obj
/Backend/TemplateService.WebAPI/bin
/Backend/TemplateService.WebAPI/obj
/Backend/TimerTest/bin
/Backend/TimerTest/obj
/Backend/TemplateService.WebAPI/obj
/Backend/TemplateService.DI/obj
/Backend/Framework.Common/bin/Debug/netstandard2.1
*.bin
*.pdb
