################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHubPublic/FileContentIndex/e68492cd-190c-47b7-a336-2321c41739b0.vsidx
