.input-container {
  border: 1px solid #efefef;
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 4px 10px;
}

.input-container:focus-within,
.input-container:focus,
.input-container:active,
.input-container:has(input:-internal-autofill-selected) {
  background: #e8f0fe !important;
}
