<section class="login">
  <!-- <div class="login-header">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="./assets/media/logo.svg" alt="" />
      </div>
      <a class="lang" *ngIf="languageService.getLanguage=='en'" (click)="changeLang('ar')">
        <span>العربية</span>
        <img src="./assets/media/language.svg" alt="img">
      </a>
      <a class="lang" *ngIf="languageService.getLanguage=='ar'" (click)="changeLang('en')">
        <span>English</span>
        <img src="./assets/media/language.svg" alt="img">
      </a>
    </div>
  </div> -->
  <div class="login-content">
    <div class="bg-box-info" style="background-image: url(./assets/media/bg-login.jpg)">
    </div>
    <div class="container-fluid">
      <div class="row  align-items-center">
        <div class="col-md-12 mx-auto">
          <div class="login-side">
            <div class="header-login">
              <div class="lang-box">
                <a class="lang" *ngIf="languageService.getLanguage=='en'" (click)="changeLang('ar')">
                  <span>العربية</span>
                  <img src="../../../../../assets/media/language.svg" alt="img">
                </a>
                <a class="lang" *ngIf="languageService.getLanguage=='ar'" (click)="changeLang('en')">
                  <span>English</span>
                  <img src="../../../../../assets/media/language.svg" alt="img">
                </a>
              </div>
            </div>
            <div class="form-login">
              <div class="logo">
                <img src="../../../../../assets/media/logo-zagazig.svg" alt="" />
              </div>
              <h4 class="text-center mb-4">{{"forgetPassword.Title"| translate }}</h4>
              <form [formGroup]="forgetPasswordForm" (keyup.enter)="submit()">

                <!-- Email -->
                <div class="input-container d-flex align-items-center mb-3">
                  <div class="input-icon input-icon-start">
                    <img src="./assets/media/email.svg" alt="" />
                  </div>
                  <input type="email " formControlName="email" class="form-control" id="loginEmail" placeholder="{{'shared.email'|translate}}" />
                  <div *ngIf="getControl('email')?.valid && getControl('email')?.touched" class="input-icon input-icon-end">
                    <img src="./assets/media/icon_check.svg" alt="" />
                  </div>
                </div>
                <app-control-error-display [control]="getControl('email')">
                </app-control-error-display>
                <!-- <div class="text-end mb-4">
                  <a routerLink="/login" class="text-body">{{"login.Title"| translate}}</a>
                </div> -->
                <button type="button" (click)="submit()" class="btn"> {{"shared.confirm"| translate }}</button>
              </form>
            </div>
            <div class="footer-login">
              <div class="footer-logo">
                <img src="../../../../../assets/media/smarttech-logo.png" alt="img" class="smart-logo" />
              </div>
              <div class="copyright">
                <p class="mb-0"> جميع الحقوق محفوظة © الشركه الوطنية للتبريدات و التوربدات </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-5 p-0">
          <div class="bg-box-info" style="background-image: url(./assets/media/bg-login.jpg)">
            <div class="info-box">
              <h4 class="text-center mb-4">{{"forgetPassword.Title"| translate }}</h4>
              <p class="text-center mb-0"> {{"forgetPassword.Body"| translate }} </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>