
$d-main-color1: #002a3d;
$main-color3: #c0bdcc;
$main-color4: #343434;
$main-color5: #f7f7f7;
$main-color6: #79b2b9;
$main-color7: #5284a6;
$main-color8: #7a86a1;
$red-color: #cd3151;
$green-color: #1c9667;
$yellow-color: #f3b868;
$dark-main: #0680d0;
$text-main: #656565;
$text-grey-2: #bfc7e1;
$gray-color-1: #6a6565;
$white: #ffffff;
$black: #000000;
$border-color: #efefef;
$main-text: #010c54;
$background-color1: #f5f5f5;
$font-family-cairo: 'Cairo', sans-serif;
$gradient-main: linear-gradient(to right bottom, #005256, #014548);
$gradient-main-r: linear-gradient(to left bottom, #005256, #014548);
$hover-color: #56b187;
$disabled-color: rgba(33, 150, 243, 0.04);
$Primary:#00577d;
$Primary-dark:#1a577d;
$Secondary:#b98502;
$filter-overlay-bg: $Primary;