$icomoon-font-family: "check-plus" !default;
$icomoon-font-path: "fonts" !default;

$ci-home: "\e99e";
$ci-home2: "\e99f";
$ci-home3: "\e9a0";
$ci-office: "\e9a1";
$ci-newspaper: "\e9a2";
$ci-pencil: "\e9a3";
$ci-pencil2: "\e9a4";
$ci-quill: "\e9a5";
$ci-pen: "\e9a6";
$ci-blog: "\e9a7";
$ci-eyedropper: "\e9a8";
$ci-droplet: "\e9a9";
$ci-paint-format: "\e9aa";
$ci-image: "\e9ab";
$ci-images: "\e9ac";
$ci-camera: "\e9ad";
$ci-headphones: "\e9ae";
$ci-music: "\e9af";
$ci-play: "\e9b0";
$ci-film: "\e9b1";
$ci-video-camera: "\e9b2";
$ci-dice: "\e9b3";
$ci-pacman: "\e9b4";
$ci-spades: "\e9b5";
$ci-clubs: "\e9b6";
$ci-diamonds: "\e9b7";
$ci-bullhorn: "\e9b8";
$ci-connection: "\e9b9";
$ci-podcast: "\e9ba";
$ci-feed: "\e9bb";
$ci-mic: "\e9bc";
$ci-book: "\e9bd";
$ci-books: "\e9be";
$ci-library: "\e9bf";
$ci-file-text: "\e9c0";
$ci-profile: "\e9c1";
$ci-file-empty: "\e9c2";
$ci-files-empty: "\e9c3";
$ci-file-text2: "\e9c4";
$ci-file-picture: "\e9c5";
$ci-file-music: "\e9c6";
$ci-file-play: "\e9c7";
$ci-file-video: "\e9c8";
$ci-file-zip: "\e9c9";
$ci-copy: "\e9ca";
$ci-paste: "\e9cb";
$ci-stack: "\e9cc";
$ci-folder: "\e9cd";
$ci-folder-open: "\e9ce";
$ci-folder-plus: "\e9cf";
$ci-folder-minus: "\e9d0";
$ci-folder-download: "\e9d1";
$ci-folder-upload: "\e9d2";
$ci-price-tag: "\e9d3";
$ci-price-tags: "\e9d4";
$ci-barcode: "\e9d5";
$ci-qrcode: "\e9d6";
$ci-ticket: "\e9d7";
$ci-cart: "\e9d8";
$ci-coin-dollar: "\e9d9";
$ci-coin-euro: "\e9da";
$ci-coin-pound: "\e9db";
$ci-coin-yen: "\e9dc";
$ci-credit-card: "\e9dd";
$ci-calculator: "\e9de";
$ci-lifebuoy: "\e9df";
$ci-phone: "\e9e0";
$ci-phone-hang-up: "\e9e1";
$ci-address-book: "\e9e2";
$ci-envelop: "\e9e3";
$ci-pushpin: "\e9e4";
$ci-location: "\e9e5";
$ci-location2: "\e9e6";
$ci-compass: "\e9e7";
$ci-compass2: "\e9e8";
$ci-map: "\e9e9";
$ci-map2: "\e9ea";
$ci-history: "\e9eb";
$ci-clock: "\e9ec";
$ci-clock2: "\e9ed";
$ci-alarm: "\e9ee";
$ci-bell: "\e9ef";
$ci-stopwatch: "\e9f0";
$ci-calendar: "\e9f1";
$ci-printer: "\e9f2";
$ci-keyboard: "\e9f3";
$ci-display: "\e9f4";
$ci-laptop: "\e9f5";
$ci-mobile: "\e9f6";
$ci-mobile2: "\e9f7";
$ci-tablet: "\e9f8";
$ci-tv: "\e9f9";
$ci-drawer: "\e9fa";
$ci-drawer2: "\e9fb";
$ci-box-add: "\e9fc";
$ci-box-remove: "\e9fd";
$ci-download: "\e9fe";
$ci-upload: "\e9ff";
$ci-floppy-disk: "\ea00";
$ci-drive: "\ea01";
$ci-database: "\ea02";
$ci-undo: "\ea03";
$ci-redo: "\ea04";
$ci-undo2: "\ea05";
$ci-redo2: "\ea06";
$ci-forward: "\ea07";
$ci-reply: "\ea08";
$ci-bubble: "\ea09";
$ci-bubbles: "\ea0a";
$ci-bubbles2: "\ea0b";
$ci-bubble2: "\ea0c";
$ci-bubbles3: "\ea0d";
$ci-bubbles4: "\ea0e";
$ci-user: "\ea0f";
$ci-users: "\ea10";
$ci-user-plus: "\ea11";
$ci-user-minus: "\ea12";
$ci-user-check: "\ea13";
$ci-user-tie: "\ea14";
$ci-quotes-left: "\ea15";
$ci-quotes-right: "\ea16";
$ci-hour-glass: "\ea17";
$ci-spinner: "\ea18";
$ci-spinner2: "\ea19";
$ci-spinner3: "\ea1a";
$ci-spinner4: "\ea1b";
$ci-spinner5: "\ea1c";
$ci-spinner6: "\ea1d";
$ci-spinner7: "\ea1e";
$ci-spinner8: "\ea1f";
$ci-spinner9: "\ea20";
$ci-spinner10: "\ea21";
$ci-spinner11: "\ea22";
$ci-binoculars: "\ea23";
$ci-search: "\ea24";
$ci-zoom-in: "\ea25";
$ci-zoom-out: "\ea26";
$ci-enlarge: "\ea27";
$ci-shrink: "\ea28";
$ci-enlarge2: "\ea29";
$ci-shrink2: "\ea2a";
$ci-key: "\ea2b";
$ci-key2: "\ea2c";
$ci-lock: "\ea2d";
$ci-unlocked: "\ea2e";
$ci-wrench: "\ea2f";
$ci-equalizer: "\ea30";
$ci-equalizer2: "\ea31";
$ci-cog: "\ea32";
$ci-cogs: "\ea33";
$ci-hammer: "\ea34";
$ci-magic-wand: "\ea35";
$ci-aid-kit: "\ea36";
$ci-bug: "\ea37";
$ci-pie-chart: "\ea38";
$ci-stats-dots: "\ea39";
$ci-stats-bars: "\ea3a";
$ci-stats-bars2: "\ea3b";
$ci-trophy: "\ea3c";
$ci-gift: "\ea3d";
$ci-glass: "\ea3e";
$ci-glass2: "\ea3f";
$ci-mug: "\ea40";
$ci-spoon-knife: "\ea41";
$ci-leaf: "\ea42";
$ci-rocket: "\ea43";
$ci-meter: "\ea44";
$ci-meter2: "\ea45";
$ci-hammer2: "\ea46";
$ci-fire: "\ea47";
$ci-lab: "\ea48";
$ci-magnet: "\ea49";
$ci-bin: "\ea4a";
$ci-bin2: "\ea4b";
$ci-briefcase: "\ea4c";
$ci-airplane: "\ea4d";
$ci-truck: "\ea4e";
$ci-road: "\ea4f";
$ci-accessibility: "\ea50";
$ci-target: "\ea51";
$ci-shield: "\ea52";
$ci-power: "\ea53";
$ci-switch: "\ea54";
$ci-power-cord: "\ea55";
$ci-clipboard: "\ea56";
$ci-list-numbered: "\ea57";
$ci-list: "\ea58";
$ci-list2: "\ea59";
$ci-tree: "\ea5a";
$ci-menu: "\ea5b";
$ci-menu2: "\ea5c";
$ci-menu3: "\ea5d";
$ci-menu4: "\ea5e";
$ci-cloud: "\ea5f";
$ci-cloud-download: "\ea60";
$ci-cloud-upload: "\ea61";
$ci-cloud-check: "\ea62";
$ci-download2: "\ea63";
$ci-upload2: "\ea64";
$ci-download3: "\ea65";
$ci-upload3: "\ea66";
$ci-sphere: "\ea67";
$ci-earth: "\ea68";
$ci-link: "\ea69";
$ci-flag: "\ea6a";
$ci-attachment: "\ea6b";
$ci-eye: "\ea6c";
$ci-eye-plus: "\ea6d";
$ci-eye-minus: "\ea6e";
$ci-eye-blocked: "\ea6f";
$ci-bookmark: "\ea70";
$ci-bookmarks: "\ea71";
$ci-sun: "\ea72";
$ci-contrast: "\ea73";
$ci-brightness-contrast: "\ea74";
$ci-star-empty: "\ea75";
$ci-star-half: "\ea76";
$ci-star-full: "\ea77";
$ci-heart: "\ea78";
$ci-heart-broken: "\ea79";
$ci-man: "\ea7a";
$ci-woman: "\ea7b";
$ci-man-woman: "\ea7c";
$ci-happy: "\ea7d";
$ci-happy2: "\ea7e";
$ci-smile: "\ea7f";
$ci-smile2: "\ea80";
$ci-tongue: "\ea81";
$ci-tongue2: "\ea82";
$ci-sad: "\ea83";
$ci-sad2: "\ea84";
$ci-wink: "\ea85";
$ci-wink2: "\ea86";
$ci-grin: "\ea87";
$ci-grin2: "\ea88";
$ci-cool: "\ea89";
$ci-cool2: "\ea8a";
$ci-angry: "\ea8b";
$ci-angry2: "\ea8c";
$ci-evil: "\ea8d";
$ci-evil2: "\ea8e";
$ci-shocked: "\ea8f";
$ci-shocked2: "\ea90";
$ci-baffled: "\ea91";
$ci-baffled2: "\ea92";
$ci-confused: "\ea93";
$ci-confused2: "\ea94";
$ci-neutral: "\ea95";
$ci-neutral2: "\ea96";
$ci-hipster: "\ea97";
$ci-hipster2: "\ea98";
$ci-wondering: "\ea99";
$ci-wondering2: "\ea9a";
$ci-sleepy: "\ea9b";
$ci-sleepy2: "\ea9c";
$ci-frustrated: "\ea9d";
$ci-frustrated2: "\ea9e";
$ci-crying: "\ea9f";
$ci-crying2: "\eaa0";
$ci-point-up: "\eaa1";
$ci-point-right: "\eaa2";
$ci-point-down: "\eaa3";
$ci-point-left: "\eaa4";
$ci-warning: "\eaa5";
$ci-notification: "\eaa6";
$ci-question: "\eaa7";
$ci-plus: "\eaa8";
$ci-minus: "\eaa9";
$ci-info: "\eaaa";
$ci-cancel-circle: "\eaab";
$ci-blocked: "\eaac";
$ci-cross: "\eaad";
$ci-checkmark: "\eaae";
$ci-checkmark2: "\eaaf";
$ci-spell-check: "\eab0";
$ci-enter: "\eab1";
$ci-exit: "\eab2";
$ci-play2: "\eab3";
$ci-pause: "\eab4";
$ci-stop: "\eab5";
$ci-previous: "\eab6";
$ci-next: "\eab7";
$ci-backward: "\eab8";
$ci-forward2: "\eab9";
$ci-play3: "\eaba";
$ci-pause2: "\eabb";
$ci-stop2: "\eabc";
$ci-backward2: "\eabd";
$ci-forward3: "\eabe";
$ci-first: "\eabf";
$ci-last: "\eac0";
$ci-previous2: "\eac1";
$ci-next2: "\eac2";
$ci-eject: "\eac3";
$ci-volume-high: "\eac4";
$ci-volume-medium: "\eac5";
$ci-volume-low: "\eac6";
$ci-volume-mute: "\eac7";
$ci-volume-mute2: "\eac8";
$ci-volume-increase: "\eac9";
$ci-volume-decrease: "\eaca";
$ci-loop: "\eacb";
$ci-loop2: "\eacc";
$ci-infinite: "\eacd";
$ci-shuffle: "\eace";
$ci-arrow-up-left: "\eacf";
$ci-arrow-up: "\ead0";
$ci-arrow-up-right: "\ead1";
$ci-arrow-right: "\ead2";
$ci-arrow-down-right: "\ead3";
$ci-arrow-down: "\ead4";
$ci-arrow-down-left: "\ead5";
$ci-arrow-left: "\ead6";
$ci-arrow-up-left2: "\ead7";
$ci-arrow-up2: "\ead8";
$ci-arrow-up-right2: "\ead9";
$ci-arrow-right2: "\eada";
$ci-arrow-down-right2: "\eadb";
$ci-arrow-down2: "\eadc";
$ci-arrow-down-left2: "\eadd";
$ci-arrow-left2: "\eade";
$ci-circle-up: "\eadf";
$ci-circle-right: "\eae0";
$ci-circle-down: "\eae1";
$ci-circle-left: "\eae2";
$ci-tab: "\eae3";
$ci-move-up: "\eae4";
$ci-move-down: "\eae5";
$ci-sort-alpha-asc: "\eae6";
$ci-sort-alpha-desc: "\eae7";
$ci-sort-numeric-asc: "\eae8";
$ci-sort-numberic-desc: "\eae9";
$ci-sort-amount-asc: "\eaea";
$ci-sort-amount-desc: "\eaeb";
$ci-command: "\eaec";
$ci-shift: "\eaed";
$ci-ctrl: "\eaee";
$ci-opt: "\eaef";
$ci-checkbox-checked: "\eaf0";
$ci-checkbox-unchecked: "\eaf1";
$ci-radio-checked: "\eaf2";
$ci-radio-checked2: "\eaf3";
$ci-radio-unchecked: "\eaf4";
$ci-crop: "\eaf5";
$ci-make-group: "\eaf6";
$ci-ungroup: "\eaf7";
$ci-scissors: "\eaf8";
$ci-filter: "\eaf9";
$ci-font: "\eafa";
$ci-ligature: "\eafb";
$ci-ligature2: "\eafc";
$ci-text-height: "\eafd";
$ci-text-width: "\eafe";
$ci-font-size: "\eaff";
$ci-bold: "\eb00";
$ci-underline: "\eb01";
$ci-italic: "\eb02";
$ci-strikethrough: "\eb03";
$ci-omega: "\eb04";
$ci-sigma: "\eb05";
$ci-page-break: "\eb06";
$ci-superscript: "\eb07";
$ci-subscript: "\eb08";
$ci-superscript2: "\eb09";
$ci-subscript2: "\eb0a";
$ci-text-color: "\eb0b";
$ci-pagebreak: "\eb0c";
$ci-clear-formatting: "\eb0d";
$ci-table: "\eb0e";
$ci-table2: "\eb0f";
$ci-insert-template: "\eb10";
$ci-pilcrow: "\eb11";
$ci-ltr: "\eb12";
$ci-rtl: "\eb13";
$ci-section: "\eb14";
$ci-paragraph-left: "\eb15";
$ci-paragraph-center: "\eb16";
$ci-paragraph-right: "\eb17";
$ci-paragraph-justify: "\eb18";
$ci-indent-increase: "\eb19";
$ci-indent-decrease: "\eb1a";
$ci-share: "\eb1b";
$ci-new-tab: "\eb1c";
$ci-embed: "\eb1d";
$ci-embed2: "\eb1e";
$ci-terminal: "\eb1f";
$ci-share2: "\eb20";
$ci-mail: "\eb21";
$ci-mail2: "\eb22";
$ci-mail3: "\eb23";
$ci-mail4: "\eb24";
$ci-amazon: "\eb25";
$ci-google: "\eb26";
$ci-google2: "\eb27";
$ci-google3: "\eb28";
$ci-google-plus: "\eb29";
$ci-google-plus2: "\eb2a";
$ci-google-plus3: "\eb2b";
$ci-hangouts: "\eb2c";
$ci-google-drive: "\eb2d";
$ci-facebook: "\eb2e";
$ci-facebook2: "\eb2f";
$ci-instagram: "\eb30";
$ci-whatsapp: "\eb31";
$ci-spotify: "\eb32";
$ci-telegram: "\eb33";
$ci-twitter: "\eb34";
$ci-vine: "\eb35";
$ci-vk: "\eb36";
$ci-renren: "\eb37";
$ci-sina-weibo: "\eb38";
$ci-rss: "\eb39";
$ci-rss2: "\eb3a";
$ci-youtube: "\eb3b";
$ci-youtube2: "\eb3c";
$ci-twitch: "\eb3d";
$ci-vimeo: "\eb3e";
$ci-vimeo2: "\eb3f";
$ci-lanyrd: "\eb40";
$ci-flickr: "\eb41";
$ci-flickr2: "\eb42";
$ci-flickr3: "\eb43";
$ci-flickr4: "\eb44";
$ci-dribbble: "\eb45";
$ci-behance: "\eb46";
$ci-behance2: "\eb47";
$ci-deviantart: "\eb48";
$ci-500px: "\eb49";
$ci-steam: "\eb4a";
$ci-steam2: "\eb4b";
$ci-dropbox: "\eb4c";
$ci-onedrive: "\eb4d";
$ci-github: "\eb4e";
$ci-npm: "\eb4f";
$ci-basecamp: "\eb50";
$ci-trello: "\eb51";
$ci-wordpress: "\eb52";
$ci-joomla: "\eb53";
$ci-ello: "\eb54";
$ci-blogger: "\eb55";
$ci-blogger2: "\eb56";
$ci-tumblr: "\eb57";
$ci-tumblr2: "\eb58";
$ci-yahoo: "\eb59";
$ci-yahoo2: "\eb5a";
$ci-tux: "\eb5b";
$ci-appleinc: "\eb5c";
$ci-finder: "\eb5d";
$ci-android: "\eb5e";
$ci-windows: "\eb5f";
$ci-windows8: "\eb60";
$ci-soundcloud: "\eb61";
$ci-soundcloud2: "\eb62";
$ci-skype: "\eb63";
$ci-reddit: "\eb64";
$ci-hackernews: "\eb65";
$ci-wikipedia: "\eb66";
$ci-linkedin: "\eb67";
$ci-linkedin2: "\eb68";
$ci-lastfm: "\eb69";
$ci-lastfm2: "\eb6a";
$ci-delicious: "\eb6b";
$ci-stumbleupon: "\eb6c";
$ci-stumbleupon2: "\eb6d";
$ci-stackoverflow: "\eb6e";
$ci-pinterest: "\eb6f";
$ci-pinterest2: "\eb70";
$ci-xing: "\eb71";
$ci-xing2: "\eb72";
$ci-flattr: "\eb73";
$ci-foursquare: "\eb74";
$ci-yelp: "\eb75";
$ci-paypal: "\eb76";
$ci-chrome: "\eb77";
$ci-firefox: "\eb78";
$ci-IE: "\eb79";
$ci-edge: "\eb7a";
$ci-safari: "\eb7b";
$ci-opera: "\eb7c";
$ci-file-pdf: "\eb7d";
$ci-file-openoffice: "\eb7e";
$ci-file-word: "\eb7f";
$ci-file-excel: "\eb80";
$ci-libreoffice: "\eb81";
$ci-html-five: "\eb82";
$ci-html-five2: "\eb83";
$ci-css3: "\eb84";
$ci-git: "\eb85";
$ci-codepen: "\eb86";
$ci-svg: "\eb87";
$ci-IcoMoon: "\eb88";
$ci-unauthorized-user: "\e96b";
$ci-side-menu-bg: "\e969";
$ci-side-menu-bg-rtl: "\e96a";
$ci-readiness-empty: "\e968";
$ci-survey-empty: "\e967";
$ci-recent-activity-empty: "\e958";
$ci-reports-empty: "\e959";
$ci-settings-empty: "\e95a";
$ci-visits-empty: "\e95b";
$ci-issues-empty: "\e95c";
$ci-locations-empty: "\e95d";
$ci-no-data-empty: "\e95e";
$ci-notification-empty: "\e95f";
$ci-points-empty: "\e960";
$ci-profile1: "\e961";
$ci-documents-empty: "\e962";
$ci-dummy-image: "\e963";
$ci-actions-empty: "\e964";
$ci-activities-empty: "\e965";
$ci-avatar: "\e966";
$ci-question1: "\e957";
$ci-earth1: "\e955";
$ci-people: "\e956";
$ci-room-na: "\e953";
$ci-room: "\e954";
$ci-escort: "\e952";
$ci-airplan: "\e949";
$ci-arrival: "\e94a";
$ci-bus: "\e94b";
$ci-depart: "\e94c";
$ci-excel: "\e94d";
$ci-family: "\e94e";
$ci-hotel: "\e94f";
$ci-person: "\e950";
$ci-wheelchair: "\e951";
$ci-due-actions: "\e947";
$ci-all-actions: "\e948";
$ci-enlarge1: "\e945";
$ci-shrink1: "\e946";
$ci-portal: "\e944";
$ci-angry1: "\e93d";
$ci-happy1: "\e93e";
$ci-neutral1: "\e93f";
$ci-sad1: "\e940";
$ci-smile1: "\e941";
$ci-star-empty1: "\e942";
$ci-star-full1: "\e943";
$ci-action: "\e93c";
$ci-map1: "\e93a";
$ci-grid-view: "\e936";
$ci-list-view: "\e937";
$ci-sort-indicator: "\e938";
$ci-sort-indicator-desc: "\e939";
$ci-logout: "\e935";
$ci-mask: "\e934";
$ci-error: "\e933";
$ci-issue: "\e932";
$ci-home1: "\e931";
$ci-arrow-left1: "\e92c";
$ci-arrow-right1: "\e92d";
$ci-actions: "\e900";
$ci-add: "\e901";
$ci-arrow-down1: "\e902";
$ci-arrow-up1: "\e903";
$ci-attachment1: "\e904";
$ci-calender: "\e905";
$ci-camera1: "\e906";
$ci-checked: "\e907";
$ci-check-mark: "\e908";
$ci-close: "\e909";
$ci-dashboard: "\e90a";
$ci-doc: "\e90b";
$ci-download1: "\e90c";
$ci-expand1: "\e90d";
$ci-files: "\e90e";
$ci-envelope: "\e90f";
$ci-image1: "\e910";
$ci-inspector: "\e911";
$ci-job: "\e912";
$ci-loading: "\e913";
$ci-location1: "\e914";
$ci-manager: "\e915";
$ci-menu1: "\e916";
$ci-more: "\e917";
$ci-naviagte: "\e918";
$ci-note: "\e919";
$ci-notification1: "\e91a";
$ci-notifications: "\e91b";
$ci-phone1: "\e91c";
$ci-points: "\e91d";
$ci-remove: "\e920";
$ci-reports: "\e921";
$ci-schedule-date: "\e922";
$ci-search1: "\e923";
$ci-sort: "\e924";
$ci-success: "\e925";
$ci-time: "\e926";
$ci-unchecked: "\e927";
$ci-upload1: "\e928";
$ci-user1: "\e929";
$ci-view: "\e92a";
$ci-violation: "\e92b";
$ci-sort-down: "\e92e";
$ci-sort-up: "\e92f";
$ci-units: "\e930";
$ci-primary-Info: "\e96c";
$ci-sites-icon: "\e96d";
$ci-site: "\e96e";
$ci-assets-icon: "\e96f";
$ci-asset: "\e973";
$ci-users-icon: "\e970";
$ci-user11: "\e974";
$ci-group-users: "\e975";
$ci-edit: "\e976";
$ci-steps-done: "\e977";
$ci-back: "\e978";
$ci-progress: "\e971";
$ci-expand-down: "\e972";
$ci-expand-up: "\e979";
$ci-sites-assets: "\e97a";
$ci-information-circle: "\e97b";
$ci-server-error: "\e97c";
$ci-link-survey: "\e97d";
$ci-email-survey: "\e97e";
$ci-new-download: "\e97f";
$ci-conform-issue: "\e980";
$ci-files-icon-pdf: "\e981";
$ci-files-icon-docx: "\e982";
$ci-files-icon-ppt: "\e983";
$ci-files-icon-xls: "\e984";
$ci-files-icon-picture: "\e985";
$ci-files-icon-other: "\e986";
$ci-menu-language: "\e987";
$ci-menu-logout: "\e988";
$ci-menu-notification: "\e989";
$ci-menu-password: "\e98a";
$ci-menu-portal: "\e98b";
$ci-menu-profile: "\e98c";
$ci-menu-setting: "\e98d";
$ci-menu-main-dropdown: "\e98e";
$ci-menu-main-notification: "\e98f";
$ci-menu-main-plus: "\e990";
$ci-mimize: "\e991";
$ci-mic1: "\e992";
$ci-unmute: "\e993";
$ci-screenshot: "\e994";
$ci-video: "\e995";
$ci-conference-endcall: "\e996";
$ci-conference-swap: "\e997";
$ci-conference-user: "\e998";
$ci-maximize: "\e999";
$ci-maplist: "\e99a";
$ci-mapsite: "\e99b";
$ci-filter1: "\e99c";
$ci-license: "\e99d";

