@media print {
  @page {
    size: A4;
    margin: 0;
    margin-top: 3mm;
  }
  .main-wrapper {
    width: 100% !important;
    background-color: $white !important;
    position: absolute;
    top: 30px !important;
    left: 0px;
    right: 0px;
  }

  .hide-p {
    display: none !important;
  }

  .show-only-p {
    display: flex !important;
  }
}
